node_modules
.*
!.gitignore
!.eslintrc.json
!.editorconfig
!.babelrc
!.prettierrc
coverage
tmp
dist
lib

# Our `.*` rule covers this,
# but better to be explicit in case that rule changes.
.firebase.json
